.modal-content{
    width: 600px;
}
.category {
    text-align: center;
    display: block;
    color: rgb(255, 188, 157);
}
h3, h5, h6, .dropdownmen{
    text-align: center;
}
.addbutton {
    margin-top: 2.5em;
}
.dropdownmenu{
    margin-bottom: 2.5em;
}
